{
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "prettier",
    "plugin:vuejs-accessibility/recommended"
  ],
  "overrides": [],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "plugins": ["vue", "prettier", "vuejs-accessibility"],
  "rules": {
    "vue/no-reserved-component-names": 0,
    "vue/multi-word-component-names": 0,
    "vue/v-on-event-hyphenation": 0,
    "vue/no-template-shadow": 0,
    "vue/require-prop-types": 0,
    "no-console": 1,
    "prettier/prettier": 2
  }
}
